@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('http://fonts.cdnfonts.com/css/new-york-font?styles=134346');

:root {
    --color-white: #ffffff;
    --color-primary: #005aa1;
    --color-green: #00a650;
    --color-dull: #b7b7b7;
    --color-border-dull: #d1d1d1;
    --text-dull: #444444;
    --text-dull2: #696969;
    --bg-dull: #dedede;
    --bg-card: #f3f3f3;
    --nav-border: #8e8e8e;
    --tab-bg: #fafafa;
    --sec-bg: #ededed;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 500;
}

a {
    text-decoration: none;
    outline: none;
}

button {
    outline: none !important;
}

button:focus {
    box-shadow: none !important;
    outline: none;
}

.greenTxt {
    color: var(--color-green);
}

.blueTxt {
    color: var(--color-primary);
}


/* navbar */

.navbar {
    background-color: var(--color-primary);
}

.navbar .navbar-brand {
    color: var(--color-white);
    font-weight: bolder;
    font-size: 22px;
}

.navbar .nav-link {
    color: var(--color-dull);
    margin: 0 10px;
}

.navbar .nav-link.active {
    color: var(--color-white);
    position: relative;
}

.navbar .navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
}

.navbar .navbar-toggler .bi-list {
    color: var(--color-white) !important;
    font-size: 22px;
}

.navbar .nav-link.active::before {
    content: "";
    width: 12px;
    height: 2px;
    background-color: var(--color-white);
    position: absolute;
    top: 50%;
    left: -15px;
}

.navbar .nav-link:hover {
    color: var(--color-white);
}


/* HeroSec */

.heroSec {
    background-color: var(--color-primary);
    height: 90vh;
}

.heroSec .innerCont h1 {
    font-size: 95px;
    font-weight: normal;
}

.heroSec .innerCont p {
    font-size: 45px;
    font-weight: 300;
}

.heroSec .innerCont .btn_grp .btnLight {
    background-color: transparent;
    border: 1px solid var(--color-white);
    padding: 10px 15px;
}

.btnGreen {
    background-color: var(--color-green);
    border: none;
    padding: 12px 25px;
}


/* Info */

.agencyInfo {
    padding: 5rem 0;
    font-size: 55px;
    color: var(--text-dull);
    font-weight: 500;
}


/* Detail */

.detailSec {
    background-color: var(--bg-dull);
    padding-bottom: 16rem !important;
}


/* #middletxt {
    font-size: 25px;
} */

.detailSec h2 {
    font-size: 43px;
    font-weight: 500;
}

.detailSec .smallTxt {
    font-size: 30px;
    font-weight: 500;
}

.detailSec .boldTxt {
    font-size: 20px;
}

.detailSec ul li {
    list-style-type: square;
    color: var(--color-primary);
    padding-left: 12px;
    margin-bottom: 16px;
}

.detailSec ul li.list-style-0 {
    list-style: none;
}

.detailSec ul span {
    color: var(--text-dull);
    font-size: 20px;
}


/* imgSec */

.imgSec img {
    margin-top: -15rem;
}

.imgSec h1 {
    font-weight: 500;
    font-size: 46px;
}

.imgSec p {
    font-weight: 400;
    font-size: 22px;
}


/* stepsSec */

.stepsSec {
    background-color: var(--color-green);
}

.stepsSec .topTxt {
    color: var(--color-white);
    font-weight: 300;
    font-size: 30px;
}

.stepsSec .colCard {
    background-color: var(--color-white);
    border: 2px solid var(--color-border-dull);
    color: var(--text-dull2);
    transition: all 0.3s;
}

.stepsSec .colCard:hover {
    border-color: var(--color-white);
    transition: all 0.3s;
}

.stepsSec .colCard:hover .icon {
    border-color: var(--color-green);
    transition: all 0.3s;
}

.stepsSec .row .icon {
    border: 2px solid var(--color-dull);
    border-radius: 50px;
    width: 90px;
    height: 90px;
    padding: 15px;
    transition: all 0.3s;
}

.stepsSec .colCard p {
    line-height: 24px;
    font-weight: 400;
}


/* Benefits */

.benSec .swiper-cont {
    margin-left: 100px;
}

.benSec .swiper-cont {
    overflow-x: hidden !important;
}

.benSec .swiper {
    overflow: visible !important;
}

.benSec .swiper .swiper-button-prev {
    right: 110px !important;
    top: -90px !important;
    transition: all 0.4s;
    color: var(--color-white);
    background-color: var(--color-green);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    left: auto !important;
    font-size: 16px;
}

.benSec .swiper .swiper-button-next {
    top: -90px !important;
    right: 60px !important;
    transition: all 0.4s;
    color: var(--color-white);
    background-color: var(--color-green);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    left: auto !important;
    font-size: 16px;
}

.benSec .swiper .swiper-button-disabled {
    opacity: 0 !important;
    transition: all 0.4s;
}

.benSec .swiper .swiper-button-prev:after,
.benSec .swiper .swiper-button-next:after {
    content: none !important;
}

.slide1 {
    background-color: var(--color-green);
    height: 53vh !important;
}

.slideGrey {
    background-color: var(--bg-card);
    height: 53vh !important;
    position: relative;
    overflow: hidden;
}

.slideGrey::after {
    content: "";
    background-color: var(--color-green);
    width: 80px;
    height: 80px;
    border-radius: 30px;
    position: absolute;
    bottom: -32px;
    right: -22px;
    transform: rotate(45deg);
    z-index: -1;
    transition: all .5s;
}

.slideGrey:hover::after {
    transform: rotate(45deg) scale(13);
    border-radius: 0;
    transition: all .5s;
}

.slideGrey p {
    transition: all .4s;
    transition-delay: .1s;
}

.slideGrey:hover>p {
    color: var(--color-white) !important;
    transition: all .4s;
    transition-delay: .1s;
}

.icon-slide {
    width: 90px;
}


/* supportSce */

.supportSce .innerCont h1 {
    font-weight: 500;
    margin-left: 0;
    color: var(--text-dull);
}

.smallPara {
    font-size: 16.5px;
    color: var(--text-dull);
}

.supportSce .innerCont .boldTxt {
    font-weight: 500;
    color: var(--text-dull);
    font-size: 19px;
}


/* Client */

.clientSec {
    color: var(--text-dull);
}

.clientSec .txtHead h1 {
    font-weight: 500;
}

.clientSec .txtHead p {
    font-weight: 400;
    font-size: 20px;
}

.clientSec .clientTabs button {
    text-align: start !important;
}

.clientSec .clientTabs .active.pillGrey {
    background-color: var(--color-green);
    overflow: hidden;
}

.clientSec .clientTabs .active.pillGrey span {
    color: var(--color-white) !important;
}

.clientSec .clientTabs .pillGrey {
    background-color: var(--bg-card);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.clientSec .clientTabs .pillGrey::after {
    content: "";
    background-color: var(--color-green);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    right: -12px;
    z-index: -1;
    transition: all .5s;
}

.clientSec .clientTabs .pillGrey:hover::after {
    transform: scale(11);
    transition: all .5s;
}

.clientSec .clientTabs .clientPill img {
    height: 40px;
}

.clientSec .clientTabs .pillGrey span {
    color: var(--text-dull);
    transition: all .4s;
    transition-delay: .1s;
}

.clientSec .clientTabs .pillGrey:hover span {
    color: var(--color-white);
    transition: all .4s;
    transition-delay: .1s;
}

/* <!-- Hospitality --> */

.hostSec .leftCol h1 {
    font-weight: 500;
}

.hostSec .leftCol img {
    height: 90px;
}

.hostSec .leftCol .smallTxt {
    font-size: 14px;
    font-weight: 500;
}

.hostSec .leftCol p {
    font-size: 17.5px;
}

.hostSec .leftCol .smallTxt .greenTxt {
    font-weight: 400;
}

.hostSec .rightCol .img-bg {
    position: relative;
    background-color: var(--color-green);
}

.hostSec .rightCol .img-bg .img-cont {
    width: 94%;
    margin: 0 auto;
}

.hostSec .rightCol .img-bg .img-cont img {
    margin-top: -40px !important;
    padding-bottom: 20px;
}


/* services */

.servSec {
    background: linear-gradient(to right, #eee6dfc2, #eee6dfc2), url(../assets/how-to-product.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 33%;
}

.servSec .innerserv h1 {
    font-size: 42px;
}

.servSec .listContainer ul li {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 18px;
}


/* model */

.modelSec .innerModel h1 {
    font-size: 40px;
    color: var(--text-dull);
}

.modelSec .innerModel p {
    font-size: 22px;
    color: var(--text-dull);
}

.modelSec .nav .active {
    background-color: var(--color-green) !important;
    color: var(--color-white) !important;
}

.modelSec .nav-link {
    width: 100% !important;
    border-radius: 0 !important;
    text-align: start !important;
    margin: 5px auto;
    background-color: var(--tab-bg) !important;
    border: 1px solid var(--nav-border) !important;
    position: relative;
    overflow: hidden;
    padding: 15px 25px;
    line-height: 19px;
    color: var(--text-dull);
    z-index: 1;
    transition: all .5s;
}

.modelSec .nav-link:hover {
    color: var(--color-white) !important;
    transition: all .4s;
    transition-delay: .1s;
}

.modelSec .innertabs h1 {
    transition: all .5s;
    font-size: 22px;
}

.modelSec .tab_img img {
    object-fit: cover;
    object-position: left !important;
    height: 40vh !important;
}

.modelSec .secod_Col {
    background-color: var(--tab-bg) !important;
    border: 1px solid var(--nav-border) !important;
    padding: 20px 10px;
}

.modelSec .innertabs h1 {
    color: var(--color-green);
    font-size: 26px;
}

.modelSec .innertabs p {
    color: var(--text-dull);
    font-size: 18px;
}

.modelSec .navtabs_btns .nav-link::after {
    content: "";
    background-color: var(--color-green);
    width: 40px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    right: -12px;
    z-index: -1;
    transition: all .5s;
}

.modelSec .navtabs_btns .nav-link:hover:after {
    transform: scale(15);
}



/* reasonSec */

.reasonSec {
    background-color: var(--color-green);
}

.reasonSec .imgCol {
    background: url(../assets/blog-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.reasonSec .textCol ul li {
    line-height: 22px;
    font-size: 14px;
}

.reasonSec .textCol h2 {
    font-weight: 500;
}

.reasonSec .imgCol .img1 {
    height: 80% !important;
    object-position: 96% 50% !important;
}

.reasonSec img {
    height: 100%;
    object-fit: cover;
    object-position: 75% 50%;
    max-width: 100%;
}


/* trainSec */

.trainSec h5 {
    font-size: 18px;
    transition: all .4s;
    transition-delay: .1s;
}

.trainSec p {
    font-size: 14px;
}

.trainSec .slideGrey:hover h5 {
    color: var(--color-white);
    transition: all .4s;
    transition-delay: .1s;
}

.trainSec .slide1,
.trainSec .slideGrey {
    z-index: 1;
    height: 67vh !important;
}

@media (min-width:1440px) {

    .trainSec .slide1,
    .trainSec .slideGrey {
        height: 57vh !important;
    }
}


/* FAQ */

.faqSec .faqPill {
    border: 1px solid var(--color-green);
    height: 9vh;
    border-radius: 0 !important;
    transition: all 0.4s;
}

.faqSec .accordion-button::after {
    content: none !important;
}

.faqSec .accordion-button:not(.collapsed) {
    background-color: var(--color-green) !important;
    transition: all 0.4s;
}


.faqSec .accordion-button:not(.collapsed) i,
.faqSec .accordion-button:not(.collapsed) span,
.faqSec .faqPill:hover>span {
    color: var(--color-white);
    transition: all 0.5s;
}

.faqSec .faqPill:hover {
    background-color: var(--color-green);
    transition: all 0.4s;
}

.faqSec .faqPill span {
    color: var(--text-dull);
    transition: all 0.4s;
}

.faqSec .faqPill i {
    color: var(--text-dull);
    transition: all 0.4s;
}

.faqSec .faqPill:hover i {
    color: var(--color-white);
    transition: all 0.4s;
}


/* Trial */

.trySec {
    background-color: var(--sec-bg);
}

.trySec p {
    font-weight: 500;
    font-size: 20px;
}

.trySec .metrics {
    font-family: 'New York Font', sans-serif;
}

/* contactSec */

.contactSec .formCol {
    background-color: var(--color-green);
}

.contactSec .formCol textarea,
.contactSec .formCol input {
    border-radius: 0;
    border-color: var(--color-white);
    background-color: var(--color-green);
    padding: 12px 18px;
    color: var(--color-white);
    resize: none;
}

.contactSec .formCol textarea:focus,
.contactSec .formCol input:focus {
    box-shadow: none;
}

.contactSec .formCol textarea::placeholder,
.contactSec .formCol input::placeholder {
    color: var(--color-white);
}

.btnGreen-outline {
    background-color: var(--color-white);
    color: var(--color-green);
    border: none;
    outline: none;
    padding: 8px 30px;
}

.contactSec .rightInfoCol {
    background-color: var(--sec-bg);
    color: var(--text-dull);
}

.contactSec .rightInfoCol img {
    height: 50px;
}

.contactSec .rightInfoCol a {
    color: var(--text-dull);
}

.contactSec .rightInfoCol .icon-grp i {
    font-size: 28px;
    border: 3px solid var(--nav-border);
    border-radius: 50%;
    height: 56px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--nav-border);
    transition: all .3s;
}

.contactSec .rightInfoCol .icon-grp i:hover {
    color: var(--color-white);
    border-color: var(--color-white);
    transition: all .3s;
}


/* footer */

.footer {
    background-color: var(--color-primary);
}

.footer p {
    font-size: 19px;
    font-weight: 300;
}

.footer a {
    font-weight: 300;
}

.footer .row .row a {
    line-height: 30px;
}

.footer input {
    border-radius: 0;
    border: 1px solid var(--color-border-dull);
    background-color: var(--color-green);
    border-right: 0;
    color: var(--color-white);
}

.footer input::placeholder {
    color: var(--color-white);
}

.footer input:focus {
    background-color: var(--color-green);
    color: var(--color-white);
    box-shadow: var(--color-green);
}

.footer .input-group-text {
    border-radius: 0;
    border: 1px solid var(--color-border-dull) !important;
    background-color: var(--color-green);
    color: var(--color-white);
}

.footer .copyright {
    font-size: 16px;
}

@media (max-width:1440px) {

    .benSec .swiper .swiper-button-prev,
    .benSec .swiper .swiper-button-next {
        top: -60px !important;
    }
}

@media (max-width:1200px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0 !important;
    }

    .heroSec .innerCont h1 {
        font-size: 80px !important;
    }

    .heroSec .innerCont p {
        font-size: 40px !important;
    }

    .agencyInfo {
        font-size: 48px !important;
    }

    .detailSec .smallTxt {
        font-size: 27px !important;
    }

    .imgSec img {
        width: 100% !important;
    }

    .colCard {
        margin: 10px !important;
    }

    .benSec .swiper>.swiper-wrapper {
        margin-top: 6rem !important;
    }

    .benSec .swiper .swiper-button-prev,
    .benSec .swiper .swiper-button-next {
        top: -40px !important;
    }
}

@media (max-width:992px) {
    .heroSec .innerCont h1 {
        font-size: 72px !important;
    }

    .heroSec .innerCont p {
        font-size: 36px !important;
    }

    .agencyInfo {
        font-size: 43px !important;
    }


    .navtabs_btns {
        padding: 0 !important;
    }

    .navtabs_content {
        padding: 0 !important;
        margin: 10px 0 !important;
    }

    .inner_clientTabs {
        display: flex;
        justify-content: center !important;
    }

    .faqPill_row {
        display: flex;
        justify-content: center !important;
    }
}

@media (max-width:768px) {
    .benSec .swiper-cont {
        margin-left: 60px !important;
    }

    .heroSec .innerCont h1 {
        font-size: 55px !important;
    }

    .heroSec .innerCont p {
        font-size: 27px !important;
    }

    .agencyInfo p {
        font-size: 33px !important;
    }

    .detailSec .smallTxt {
        font-size: 21px !important;
    }

    .detailSec h2 {
        font-size: 27px !important;
    }

    .imgSec h1 {
        font-size: 39px !important;
    }

    .imgSec p {
        font-size: 22px !important;
    }

    .stepsSec .topTxt {
        font-size: 26px !important;
    }

    .stepsSec .colCard p {
        font-size: 15px !important;
    }

    .clientSec .txtHead p {
        font-size: 15px !important;
    }

    .modelSec .innerModel h1 {
        font-size: 29px !important;
    }

    .modelSec .innerModel p {
        font-size: 17px !important;
    }

    .footer p {
        font-size: 16px !important;
    }

    .primary_col h3 {
        font-size: 22px !important;
    }

    .colCard {
        margin: 10px 0 !important;
    }
}

@media (max-width:640px) {
    .benSec .swiper-cont {
        margin-left: 40px !important;
        margin-right: 40px !important;
    }

    .heroSec .innerCont .btn_grp .btnLight {
        padding: 10px 11px !important;
        font-size: 14px !important;
    }

    .btnGreen {
        padding: 12px 23px !important;
        font-size: 14px !important;
    }
}

@media (max-width:590px) {
    .heroSec .innerCont h1 {
        font-size: 46px !important;
    }

    .heroSec .innerCont p {
        font-size: 22px !important;
    }

    .agencyInfo p {
        font-size: 27px !important;
    }

    .detailSec .boldTxt {
        font-size: 18px !important;
    }

    .detailSec ul span {
        font-size: 17px !important;
    }

    .imgSec h1 {
        font-size: 36px !important;
    }

    .imgSec p {
        font-size: 20px !important;
    }

    .stepsSec .topTxt {
        font-size: 23px !important;
    }

    .servSec .innerserv h1 {
        font-size: 30px !important;
    }

    .servSec .listContainer ul li {
        font-size: 16px !important;
    }

    .trainSec .slide1,
    .trainSec .slideGrey {
        z-index: 1;
        height: 45vh !important;
    }

    .smallPara {
        font-size: 14.5px !important;
    }

    .faqPill_row .faqPill {
        font-size: 14px !important;
    }

    .trySec p {
        font-size: 18px !important;
    }

    .imgSec img {
        margin-top: -8rem !important;
    }

    .detailSec {
        padding-bottom: 9rem !important;
    }
}

@media (max-width:480px) {
    .heroSec .innerCont h1 {
        font-size: 35px !important;
    }

    .heroSec .innerCont p {
        font-size: 18px !important;
    }

    .heroSec .innerCont .btn_grp .btnLight {
        padding: 10px 11px !important;
        font-size: 12px !important;
    }

    .btnGreen {
        padding: 12px 23px !important;
        font-size: 12px !important;
        margin: 0 8px !important;
    }

    .agencyInfo p {
        font-size: 21px !important;
    }

    .detailSec h2 {
        font-size: 23px !important;
    }

    .detailSec .smallTxt {
        font-size: 17px !important;
    }

    .imgSec h1 {
        font-size: 29px !important;
    }

    .imgSec p {
        font-size: 17px !important;
    }

    .servSec .innerserv h1 {
        font-size: 25px !important;
    }

    .servSec .listContainer ul li {
        font-size: 14px !important;
    }

    .modelSec .innerModel p {
        font-size: 14px !important;
    }

    .modelSec .innerModel h1 {
        font-size: 23px !important;
    }

    .reasonSec .textCol h2 {
        font-size: 20px !important;
    }
}

@media (max-width:350px) {
    .heroSec .innerCont h1 {
        font-size: 30px !important;
    }

    .heroSec .innerCont p {
        font-size: 15px !important;
    }

    .btnGreen {
        padding: 12px 42px !important;
        margin: 13px 8px !important;
    }

    .agencyInfo p {
        font-size: 16px !important;
    }

    .detailSec h2 {
        font-size: 16.5px !important;
    }

    .imgSec h1 {
        font-size: 21px !important;
    }

    .imgSec p {
        font-size: 13px !important;
    }

    .stepsSec .topTxt {
        font-size: 18px !important;
    }

    .supportSce .innerCont .boldTxt {
        font-weight: 500;
        color: var(--text-dull);
        font-size: 16px;
    }

    .faqPill_row .faqPill {
        font-size: 11px !important;
    }

    .trySec p {
        font-size: 15px !important;
    }

    .trySec h1 {
        font-size: 22px !important;
    }

    .contactSec .formCol textarea,
    .contactSec .formCol input {
        font-size: 12px !important;
    }

    .btnGreen-outline {
        font-size: 14px !important;
    }

    .txt h5 {
        font-size: 16px !important;
    }

    .contactSec .rightInfoCol a {
        font-size: 14px !important;
    }

    .imgSec img {
        margin-top: -6rem !important;
    }

    .primary_col h3 {
        font-size: 17px !important;
    }

    .footer p {
        font-size: 13px !important;
    }

    .footer a {
        font-size: 15px !important;
    }

    .footer_input input {
        font-size: 14px !important;
    }
}